.card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
  }

  .content {
    flex: 1;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
