.distribute {
  display: flex;
}

.box {
  width: 99%;
  // height: 146px;
  height: 47%;
  background: rgba(16, 53, 86, 0.9);
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 137px;
  height: 71px;
}

.title {
  font-size: 15px;
  font-weight: normal;
  color: #EFF6FF;
}

.texts {
  display: flex;
  justify-content: center;
}

.text {
  font-size: 13px;
  font-weight: 300;
  color: #EFF6FF;
  margin-left: 5px;
  margin-right: 5px;
}
