.container {
  display: flex;
  flex-wrap: wrap;
  max-height: 280px;
  overflow-x: hidden;
  overflow-y: auto;

  :global h3 {
    position: relative;
    margin: 0;
    font-size: 14px;
    text-align: left;

    &::after {
      content: " ";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 40px;
      border-top: 2px solid #0078FF;
    }
  }

  :local .chart {
    flex: 40%;
    margin-bottom: 24px;

    &:nth-child(2n) {
      margin-left: 20px;
    }
  }

  :local .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    & > div {
      flex: 50%;
      text-align: center;

      pre {
        text-align: center;
      }
    }
  }
}