.container {
  padding: 40px 51px 40px 55px;

  & > h1 {
    position: relative;
    font-size: 30px;

    &::after {
      content: " ";
      position: absolute;
      left: 50%;
      bottom: -12px;
      width: 40px;
      margin-left: -20px;
      border-top: 2px solid #0078FF;
    }
  }

  & > pre {
    color: #A1A8AF;
    font-size: 13px;
    letter-spacing: 4px;
  }

  &> div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    &> a {
      flex: 24%;
      text-decoration: none;
      color: #fff;

      :local .card {
        position: relative;
        height: 210px;
        margin-right: 4px;
        margin-top: 5px;
        border-radius: 4px;
        background-size: 100% 100%;
        overflow: hidden;
        
        &> div {
          position: absolute;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          bottom: 0;
          left: 0;
          width: calc(100% - 24px);
          padding: 12px;
          background: rgba(0, 0, 0, 0.6);

          &> h3 {
            position: relative;
            flex: 2;
            text-align: left;
            margin: 0;

            &::after {
              content: " ";
              position: absolute;
              left: 0%;
              bottom: -4px;
              width: 20px;
              border-top: 2px solid #fff;
            }
          }

          &> div {
            flex: 1;
            white-space: normal;
            text-align: right;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.3)
          }
        }
      }
    }
  }
}
.home {
  width: 100%;
  height: 100%;

  :global .amap-icon {
    width: 24px !important;
    height: 24px !important;
    & img {
      width: 100%;
      left: 0;
    }
  }

  :global .amap-marker-label {
    background: transparent;
    border-width: 0;
    text-shadow: 0 1px 4px #fff;
    font-size: 10px;
    font-weight: bold;
    color: #fb3f62;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 1px;
  }

  :global .amap-overlay-text-container {
    background: transparent;
    border-width: 0;
    text-shadow: 0 1px 4px #fff;
    font-size: 10px;
    font-weight: bold;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 1px;
  }

  :global .info-window {
    position: relative;
    width: 240px;
    padding: 14px 12px;
    font-size: 13px;
    text-align: left;
    border-radius: 4px;
    color: #4F5256;
    background-color: #fff;
    box-shadow: 0px 0px 40px 0px rgba(161, 168, 175, 0.3);

    &::after {
      content: '详情➔';
      position: absolute;
      color: #0078FF;
      right: 12px;
      height: 50%;
    }
  }
}

.footer {
  display: flex;
  width: 100%;

  & > div {
    position: relative;
    flex: 1;
    height: 100%;

    :local .legend {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      flex: 1;

      img {
        width: 44px;
      }

      pre {
        margin-left: 4px;
      }

      &.planing pre {
        color: #fb3f62;
      }

      &.ready pre {
        color: #0078ff;
      }

      &.working pre {
        color: #ff7937;
      }

      &.completed pre {
        color: #28d2b0;
      }
    }

    :local .status {
      position: absolute;
      left: 50%;
      bottom: 10px;
      width: 40px;
      height: 20px;
      margin-left: -20px;
      border-radius: 10px;
      border: 1px solid #dde0e4;

      &::before {
        content: ' ';
        position: absolute;
        left: 4px;
        top: 50%;
        margin-top: -6px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #dde0e4;
      }

      &.inverse::before {
        left: auto;
        right: 4px;
      }

      &.active::before {
        background-color: #0078ff;
      }

      &::after {
        content: ' ';
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -1px;
        margin-left: -16px;
        width: 32px;
        border-top: 2px solid #dde0e4;
      }

      &.active::after {
        border-top-color: #0078ff;
      }
    }
  }
}

:global .el-popover {
  padding: 0;

  .el-menu {
    max-height: 280px;
    width: 320px;
    overflow-y: auto;
  }
}
